@import url(https://fonts.googleapis.com/css?family=Roboto);
html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #121212;
  background: #F0F4F6 !important;
  font-size: 16px;
  line-height: 22px;
  -webkit-overflow-scrolling: touch; }

.font-bold {
  font-weight: 700; }

.font-normal {
  font-weight: 400; }

.font-thin {
  font-weight: 300; }

.font-grey {
  color: #3E5569; }

.font-blue {
  color: #2962FF; }

.font-yellow {
  color: #F8BB56; }

.font-green {
  color: #43DDC1; }

.font-orange {
  color: #FF821C; }

.pt0 {
  padding-top: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

.p30 {
  padding: 30px; }

.p40 {
  padding: 40px; }

.mb0 {
  margin-bottom: 0 !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mauto {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

#area-chart,
#line-chart,
#bar-chart,
#stacked,
#pie-chart {
  min-height: 250px; }

/*=====================================
=            General Style            =
=====================================*/
.wrapper {
  width: 100%; }
  .wrapper #hamburguer {
    height: 50px;
    width: 50px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer; }
  .wrapper #hamburguer #nav-icon {
    width: 20px;
    height: 11px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }
  .wrapper #hamburguer #nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: #747474;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }
  .wrapper #hamburguer #nav-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0; }
  .wrapper #hamburguer #nav-icon span:nth-child(odd) {
    left: 0px;
    border-radius: 0; }
  .wrapper #hamburguer #nav-icon span:nth-child(1),
  .wrapper #hamburguer #nav-icon span:nth-child(2) {
    top: 0px; }
  .wrapper #hamburguer #nav-icon span:nth-child(3),
  .wrapper #hamburguer #nav-icon span:nth-child(4) {
    top: 4px; }
  .wrapper #hamburguer #nav-icon span:nth-child(5),
  .wrapper #hamburguer #nav-icon span:nth-child(6) {
    top: 8px; }
  .wrapper #hamburguer #nav-icon.open span {
    background: #f8b900; }
  .wrapper #hamburguer #nav-icon.open span:nth-child(1),
  .wrapper #hamburguer #nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .wrapper #hamburguer #nav-icon.open span:nth-child(2),
  .wrapper #hamburguer #nav-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .wrapper #hamburguer #nav-icon.open span:nth-child(1) {
    left: 0;
    top: 1px; }
  .wrapper #hamburguer #nav-icon.open span:nth-child(2) {
    left: calc(45%);
    top: 1px; }
  .wrapper #hamburguer #nav-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0; }
  .wrapper #hamburguer #nav-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0; }
  .wrapper #hamburguer #nav-icon.open span:nth-child(5) {
    left: 0;
    top: 8px; }
  .wrapper #hamburguer #nav-icon.open span:nth-child(6) {
    left: calc(45%);
    top: 8px; }
  .wrapper #main-wrapper {
    padding-left: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease; }
    .wrapper #main-wrapper #sidebar-wrapper {
      z-index: 1000;
      position: fixed;
      left: 250px;
      top: 68px;
      min-width: 80px;
      width: 80px;
      height: 100%;
      margin-left: -250px;
      overflow-y: auto;
      background-color: #FF821C;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      /* Sidebar Styles */ }
      .wrapper #main-wrapper #sidebar-wrapper .sidebar-nav {
        margin: 0;
        padding: 0;
        list-style: none; }
        .wrapper #main-wrapper #sidebar-wrapper .sidebar-nav li a {
          display: block;
          text-decoration: none;
          color: #5e6b7a;
          position: relative;
          padding: 20px 30px; }
        .wrapper #main-wrapper #sidebar-wrapper .sidebar-nav li i {
          color: #fff;
          font-size: 25px; }
        .wrapper #main-wrapper #sidebar-wrapper .sidebar-nav li span {
          position: absolute;
          top: 22px;
          left: 60px;
          color: #fff;
          margin-left: 10px; }
    .wrapper #main-wrapper #page-wrapper {
      width: 100%;
      position: absolute;
      padding-top: 90px;
      padding-left: 85px;
      padding-right: 0;
      transition: all 0.6s ease; }
      .wrapper #main-wrapper #page-wrapper .content-header h1 {
        margin: 0 0 0px;
        font-size: 30px;
        margin-bottom: 20px; }
        .wrapper #main-wrapper #page-wrapper .content-header h1 small {
          font-size: 15px;
          display: inline-block;
          padding-left: 4px;
          font-weight: 300; }
      .wrapper #main-wrapper #page-wrapper .content .card {
        border: none;
        border-radius: 0; }
        .wrapper #main-wrapper #page-wrapper .content .card i {
          font-size: 3rem;
          margin-right: 15px; }
  .wrapper #main-wrapper.toggled {
    overflow-y: hidden; }
  .wrapper #main-wrapper.toggled #sidebar-wrapper {
    width: 0; }
  .wrapper #main-wrapper.toggled #page-wrapper {
    padding-left: 210px;
    transition: all 0.6s ease;
    position: absolute; }
  .wrapper #main-wrapper.toggled #sidebar-wrapper {
    width: 200px; }
  .wrapper #main-wrapper.toggled .sidebar-nav span {
    display: block; }
  .wrapper #main-wrapper .sidebar-nav span {
    display: none; }
  .wrapper #page-wrapper {
    position: relative;
    margin-right: 0; }
