$f8px : 0.50em;
$f9px : 0.563em;
$f10px : 0.625em;
$f11px : 0.688em;
$f12px : 0.750em;
$f13px : 0.813em;
$f14px : 0.875em;
$f15px : 0.938em;
$f16px : 1em;
$f17px : 1.063em;
$f18px : 1.125em;
$f19px : 1.188em;
$f20px : 1.250em;
$f21px : 1.313em;
$f22px : 1.375em;
$f23px : 1.438em;
$f24px : 1.50em;
$f25px : 1.563em;
$f26px : 1.625em;
$f27px : 1.688em;
$f28px : 1.750em;
$f29px : 1.813em;
$f30px : 1.875em;
$f31px : 1.938em;
$f32px : 2em;
$f33px : 2.063em;
$f34px : 2.125em;
$f35px : 2.188em;
$f36px : 2.250em;
$f37px : 2.313em;
$f38px : 2.375em;
$f39px : 2.438em;
$f40px : 2.50em;
$f41px : 2.563em;
$f42px : 2.625em;
$f43px : 2.688em;
$f44px : 2.750em;
$f45px : 2.813em;
$f46px : 2.875em;
$f47px : 2.938em;
$f48px : 3em;
$f49px : 3.063em;
$f50px : 3.125em;
$f51px : 3.188em;
$f52px : 3.25em;
$f53px : 3.313em;
$f54px : 3.375em;
$f55px : 3.438em;
$f56px : 3.5em;
$f62px : 3.875em;
$f70px : 4.5em;