@mixin transition {
   -webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
@mixin transitionLinear {
   -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
@mixin transitionEaseInOut {
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
@mixin centerY {
   top:50%;
   -webkit-transform: translateY(-50%); 
   -moz-transform: translateY(-50%); 
   -ms-transform: translateY(-50%); 
   -o-transform: translateY(-50%); 
   transform: translateY(-50%); 
}
@mixin centerX {
   left:50%;
   -webkit-transform: translateX(-50%); 
   -moz-transform: translateX(-50%); 
   -ms-transform: translateX(-50%); 
   -o-transform: translateX(-50%); 
   transform: translateX(-50%); 
}
@mixin centerXY {
   left:50%;
   top:50%;
   -webkit-transform: translate(-50%,-50%); 
   -moz-transform: translate(-50%,-50%); 
   -ms-transform: translate(-50%,-50%); 
   -o-transform: translate(-50%,-50%); 
   transform: translate(-50%,-50%); 
}
@mixin transitionDropdown {
   -webkit-transition: all 300ms ease-in;
   -moz-transition: all 300ms ease-in;
   -o-transition: all 300ms ease-in;
   -ms-transition: all 300ms ease-in;
   transition: all 300ms ease-in;
}
@mixin transform($transforms) {
   -moz-transform: $transforms;
   -o-transform: $transforms;
   -ms-transform: $transforms;
   -webkit-transform: $transforms;
    transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
   @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
   -moz-transform-origin: $origin;
   -o-transform-origin: $origin;
   -ms-transform-origin: $origin;
   -webkit-transform-origin: $origin;
   transform-origin: $origin;
}

@mixin triangle($direction, $size: 8px, $color: #222) {
   content: '';
   display: block;
   position: absolute;
   height: 0;
   width: 0;
   @if ($direction == 'up') {
     border-bottom: $size solid $color;
     border-left: $size solid transparent;
     border-right: $size solid transparent;
     border-top: none;
   } @else if ($direction == 'down') {
     border-top: $size solid $color;
     border-left: $size solid transparent;
     border-right: $size solid transparent;
     border-bottom: none;
   } @else if ($direction == 'left') {
     border-top: $size solid transparent;
     border-bottom: $size solid transparent;
     border-right: $size solid $color;
     border-left: none;
   } @else if ($direction == 'right') {
     border-top: $size solid transparent;
     border-bottom: $size solid transparent;
     border-left: $size solid $color;
     border-right: none;
   }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin placeholderColor($color) {
   &::-webkit-input-placeholder {
     -webkit-transition: color 200ms;
     color: $color;
   }
   &:-moz-placeholder {
     //Firefox 18-
     -moz-transition: color 200ms;
     color: $color;
   }
   &::-moz-placeholder {
     -moz-transition: color 200ms;
     color: $color;
   }
   &:-ms-input-placeholder {
     color: $color;
   }
}

@mixin truncateText($overflow: ellipsis) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: $overflow; // values are: clip, ellipsis, or a string
} 