@media screen and (max-width: 767px){
	
}
@media screen and (max-width: 640px) {
	
}

@media screen and (max-width: 540px) {
	
}

@media screen and (max-width: 480px) {
	
}

@media screen and (max-width: 360px){
	
}






