@media screen and (max-width: 1200px) {
   
}

@media screen and (max-width: 1024px) {
   
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 800px) {
   
}

@media screen and (max-width: 768px) {
   
}



