$white : #fff;
$black : #121212;
$grey: #3E5569;
$blue:#2962FF;
$yellow:#F8BB56;
$green:#43DDC1;
$orange:#FF821C;

$Lato : 'Lato', sans-serif;

$textColor : #121212;
$textStrong:#767676;
$textSmooth:#a6a6a6;

$link : #a6a6a6;
$linkHover : #301412;


// Social Icon Color
$facebookColor : #3B5998;
$twitterColor : #02B0E8;
$linkedinColor : #0077B6;
$youtubeColor : #C4302A;
$gplusColor : #BE2933;
$instagramColor : #aa986b;
$feedColor : #FFAC00;
$bloggerColor : #FC9C38;
$dribbleColor : #E25890;
$flickrColor : #E31877;
$tumblrColor : #2C4762;
$pinterestColor : #E31877;
$behanceColor : #0284E5;
$githubColor : #404040;
$soundcloudColor : #FF6600;
$vineColor : #00B689;
$primaryColor:#5659A6;
$gradientColor: linear-gradient(to top right, #5b59a8 0%, #a759ca 100%);



